/* Gear button */
#menu {
	border: none;
	border-radius: 100%;
	background: none;
	box-shadow: none;
	padding: 0.1em;
	font-size: 140%;

	&.open, &:hover {
		font-weight: bold;
	}

	transition: all 0.4s;
}
#menu.open, #menu:hover {
	transform: scale(1.3);
	background: rgb(162, 177, 155);
}


/* Dialog amnd overlay */
.overlay, dialog {
	transition: all 0.4s;
}
.overlay {
	/* border: 2px dashed hotpink; */
	pointer-events: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	padding: 3em;
}
.overlay.open {
	pointer-events: auto;
	background-color: rgba(0, 0, 0, 0.35);
	/* filter: blur(2px); */
	
}
/* dialog::backdrop {
	Backdrop fungerar bara för en modal
	filter: blur(20px);
} */
#options-dialog {
	/* width: 100%;
	height: 100%; */
	filter: none;
	background-color: #ECE8FB;
	--border-color: #A49DC1;
	z-index: 9001;
}

dialog h1 {
	margin: 0;
	font-size: 160%;
}
dialog input {
	font-size: 100%;
	padding: 0.15em 0.5em;
}
dialog button {
	background-color: #6342E7;
	color: #DED9F0;
	border-radius: 0.2em;
	border: none;
	padding: 0.2em 1.2em 0.3em;
	box-shadow: none;
}
dialog button:hover {
	background-color: #6342E7;
	box-shadow: none;
	color: #DED9F0;
	transform: none;
}
dialog hr {
	margin: 1em 0;
	border: 1px solid var(--border-color);
}
dialog .projects {
	border: 1px solid var(--border-color);
	margin: 0;
}
dialog .projects .item {
	margin: 0;
	border-bottom: 2px solid var(--border-color);
	padding: 0.8em;
	transition: all 0.4s;
	cursor: default;
	display: flex;
	flex-direction: row;
}
dialog .projects .item > :first-child {
	flex-grow: 1;
}
dialog .projects .item:hover {
	box-shadow: inset 0 0 0.2em #6A6679;
}
dialog .projects .item:last-child { border-bottom: none; }
dialog .projects .item:nth-child(odd) {
	background-color: #D2CDE7;

}
dialog .projects .item button {
	margin-left: 1em;
	transform: translateY(-0.2em);
	box-shadow: 0em 0.1em 0.3em 0.12em #6A6679;
}
dialog .projects .item button:hover {
	transform: translateY(0em);
	box-shadow: 0em 0em 0.1em #6A6679;
}
