:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0.5rem 0.5rem;
  background-color: rgb(232, 246, 216);
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
  /* margin-bottom: 1.0rem; */
}
#snippet-title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	text-align: center;
	margin: 0;
	pointer-events: none;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 0.5em;
  margin: 0em 0.25em;
  /* border: 1px solid #000000; */
  /* padding: 0.6em 1.2em; */
  padding: 0.2em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s, all 0.4s;

  --button-bg: #CAEDAA;
  background-color: var(--button-bg);
  border: none;
  box-shadow: 0em 0em 0.2em 0em #517530;
}
button:hover {
	border-color: #646cff;
	transform: scale(1.08);
	--button-highlight: #B1DF88;
	background-color: var(--button-highlight);
	box-shadow: 0em 0em 0.1em 0.1em #517530;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
header {
	display: flex;
	margin-bottom: 0.5rem;
}
header h1 {
	flex-grow: 1;
}
main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.blockly {
	flex-grow: 1;
	border: 2px solid gray;
}
.blockly .injectionDiv {
	display: flex;
	flex-direction: column;
}
.blockly .injectionDiv > svg {
	/* flex-grow: 1; */
	height: 100%;
}

.codeOutput {
	/* white-space: pre-wrap; */
	border: 1px solid gray;
	height: 9rem;
	/* background-color: rgb(55, 55, 57); */
	background-color: rgb(243, 243, 243);
	color: rgb(212, 213, 227);
	overflow-y: scroll;
	padding: 0 0.5em;
	position: relative;
}
.codeOutput code {
	font-family: monospace;
}
.codeOutput button {
	position: absolute;
	top: 0.25em;
	right: 0.25em;
}
.codeOutput pre {
	margin-top: 0;
	margin-bottom: 0;
}
/* SVG element */
/* Use this to style labels in the Blockly workspace */
/* .my-label {} */


.popover.driver-popover {
	background-color: #fde047;
}

